@import './_mixins.scss';

.flexbox{
  display: flex;
  &.--vertical{flex-direction:column;}
}

.full-height{
  //height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.auto-height{
  height : auto;
}

.container-default{
  padding:1.5rem 1rem 0.2rem 1.5rem;
  @media #{map-get($display-breakpoints, 'sm-and-down')}
  {
    padding:0.5rem;
  } 
}

.main-heading{
  margin:0;
  font-size: 2.2rem;
  @media #{map-get($display-breakpoints, 'xs-only')}
  {
    font-size: 1.8rem;
  }
  @media #{map-get($display-breakpoints, 'xl-only')}
  {
    font-size: 2.5rem;
  }
}

.sub-heading{
  margin:0;
  font-size: 1.2rem;
  @media #{map-get($display-breakpoints, 'xl-only')}
  {
    font-size: 1.6rem;
  }
}

.error-message{
  font-size:1.5rem;
  font-weight: bold;
  padding:3rem;
}

.panel-height1{
  height:calc(100vh - 56px);
}
.panel-height2{
  height:calc(100vh - 112px);
}

.bg-success{
  @include gradient-bg($success-light,var(--v-success-base));
}

.bg-warning{
  @include gradient-bg($warning-light,var(--v-warning-base)); 
}

.bg-error{
  @include gradient-bg($error-light, var(--v-error-base));
}

.bg-secondary{
  @include gradient-bg($secondary-color-light, var(--v-secondary-base));
}

.video-icon{
  height:75px;
  width:70px;
  @media #{map-get($display-breakpoints, 'xl-only')}
  {
    height:85px;
    width:80px;
  }
}

.video-icon-tall{
  height:80px;
  width:70px;
  @media #{map-get($display-breakpoints, 'xl-only')}
  {
    height:90px;
    width:80px;
  }
}

//Custom Scrollbar - For Webkit browsers
::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: inherit;       /* color of the tracking area */ 
}

::-webkit-scrollbar-thumb {
  background-color:transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid transparent;  /* creates padding around scroll thumb */
}
